<h3>Purchase Register view</h3>

<table>
	<tr>
		<th *ngFor = "let header of purchaseHeader">
			{{header}}
		</th>
	</tr>
	<tr *ngFor = "let purchase of purchaseList">
		<td>{{purchase.sno}}</td>
		<td>{{purchase.vehicle.vehicleNo}}</td>
		<td>{{purchase.productType}}</td>
		<td>{{purchase.bagsCount}}</td>
		<td>{{purchase.quantity}}</td>
		<td>{{purchase.quantityUnit}}</td>
		<td>{{purchase.pricePerQuintals}}</td>
		<td>{{purchase.purchaseAdjustment}}</td>
		<td>{{purchase.aasamiName}}</td>
		<td>{{purchase.brokerName}}</td>
		<td>{{purchase.finalSettlement}}</td>
		<td>{{purchase.status}}</td>
	</tr>
</table>