<nav>
  <ul>
  	 <li>
        <a routerLink="">
          <i class="material-icons">purchase Register</i>
        </a>
        &nbsp;
        <span>purchase Register</span>
      </li>
  	<li>
      <a routerLink="createPurchase">
        <i class="material-icons">Create Purchase</i>
      </a>
      &nbsp;
      <span>Create Purchase</span>
    </li>
    <li>
        <a routerLink="workers">
          <i class="material-icons">W</i>
        </a>
        &nbsp;
        <span>Workers</span>
     </li>
  </ul>
</nav>