<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">LD</i>
      </a>
      &nbsp;
      <span>Load Details</span>
    </li>
    <li>
        <a routerLink="workers">
          <i class="material-icons">W</i>
        </a>
        &nbsp;
        <span>Workers</span>
      </li>
        <li>
        <a routerLink="purchaseRegister">
          <i class="material-icons">purchase Register</i>
        </a>
        &nbsp;
        <span>purchase Register</span>
      </li>
  </ul>
</nav>