<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <button class="btn btn-outline-success" type="button">
          <a class="nav-link" href="#" routerLink="">Home
            <span class="sr-only">(current)</span>
          </a>

        </button>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-success" type="button">
          <a class="nav-link" href="#" routerLink="viewPurchase">Purchase Register
            <span class="sr-only"></span>
          </a>

        </button>
      </li>
      <li class="nav-item active">
          <button class="btn btn-outline-success" type="button">
        
        <a class="nav-link" href="#" routerLink="createPurchase">Create Purchase
          <span class="sr-only"></span>
        </a>
        </button>
      </li>
      <li class="nav-item active">
          <button class="btn btn-outline-success" type="button">
        
        <a class="nav-link" href="#" routerLink="workers">Workers
          <span class="sr-only"></span>
        </a>
        </button>
      </li>
    </ul>
  </div>
</nav>