<div class="modal" id={{modelId}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="vehicleModalLabel">{{modelTitle||"Alert"}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
        <span *ngIf ="showText()">
         {{modelData}}
        </span>
        <span *ngIf ="showVehicle()">
            <table class="table table-hover">
                <tbody *ngIf="selectedVehicle">
                  <tr>
                    <th scope="row">Vehile #</th>
                    <td>
                      {{selectedVehicle.vehicleNo}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Empty Weight</th>
                    <td>
                      {{selectedVehicle.emptyWeight}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Load Weight</th>
                    <td>
                      {{selectedVehicle.loadWeight}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tare Weight</th>
                    <td>
                      {{selectedVehicle.tareWeight}}
                    </td>
                  </tr>
      
                  <tr>
                    <th scope="row">Weight Slip #</th>
                    <td>
                      {{selectedVehicle.weightSlip}}
                    </td>
                  </tr>
                </tbody>
              </table>
        </span>

        <span *ngIf ="showPurchaseAdj()">
            <table class="table table-hover">
                <tbody *ngIf="selectedPurchaseAdj">
                  <tr>
                    <th scope="row">Bags Cost</th>
                    <td>
                      {{selectedPurchaseAdj.bagsCost}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Weight Bridge Cost</th>
                    <td>
                      {{selectedPurchaseAdj.weightBridgeCost}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Kulli</th>
                    <td>
                      {{selectedPurchaseAdj.kulli}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Misc Cost</th>
                    <td>
                      {{selectedPurchaseAdj.miscCost}}
                    </td>
                  </tr>
      
                  <tr>
                    <th scope="row">Labour Cost #</th>
                    <td>
                      {{selectedPurchaseAdj.labourCost}}
                    </td>
                  </tr>
                </tbody>
              </table>
        </span>
              
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>