<h1>Create Purchase</h1>
<form [formGroup]="purchaseRegisterForm" (ngSubmit)="onSubmit()" >
	<div class="panel-group">
		<div class="panel panel-info">
			<div class="panel-heading">Puchase Details</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="sno">SNO :</label> <input type="text"
								formControlName="sno" placeholder="sno" name="sno"
								class="form-control" id="sno" ng-model="purchaseRegister.sno">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="aasami_name">Aasami Name:</label> <input type="text"
								formControlName="aasamiName" placeholder="aasami_name"
								name="aasami_name" class="form-control" id="aasami_name" ng-model="purchaseRegister.aasamiName">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="broker_name">Broker Name:</label> <input type="text"
								formControlName="brokerName" placeholder="broker_name"
								name="broker_name" class="form-control" id="broker_name" ng-model="purchaseRegister.brokerName">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="product_name">Product Name:</label> <input
								type="text" formControlName="productType"
								placeholder="productame" name="product_name"
								class="form-control" id="product_name" ng-model="purchaseRegister.productName">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="bags_count">Bags Count:</label> <input type="text"
								formControlName="bagsCount" placeholder="bags_count"
								name="bags_count" class="form-control" id="bags_count" ng-model="purchaseRegister.bagsCount">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="quantity">Quantity:</label> <input type="text"
								formControlName="quantity" placeholder="quantity"
								name="quantity" class="form-control" id="quantity" ng-model="purchaseRegister.quantity">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="quantity">Quantity Unit:</label> <input
								type="text" formControlName="quantityUnit"
								placeholder="quantity_unit" name="quantity_unit"
								class="form-control" id="quantity_unit" ng-model="purchaseRegister.quantityUnit">
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="price_per_quintals">Price Per Quintals:</label> <input
								type="text" formControlName="pricePerQuintals"
								placeholder="price_per_quintals" name="price_per_quintals"
								class="form-control" id="price_per_quintals" ng-model="purchaseRegister.pricePerQuintals">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="final_settlement">Final Settlement:</label> <input
								type="text" formControlName="finalSettlement"
								placeholder="final_settlement" name="final_settlement"
								class="form-control" id="final_settlement" ng-model="purchaseRegister.finalSettlement">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group" formGroupName="vehicleDetails">
		<div class="panel panel-info">
			<div class="panel-heading">Vehicle Details</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="vehicle_no">Vehicle No:</label> <input type="text"
								formControlName="vehicleNo" placeholder="vehicle_no"
								name="vehicle_no" class="form-control" id="vehicle_no" ng-model="purchaseRegister.vehicleDetails.vehicleNo">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="weight_slip">Weight Slip:</label> <input type="text"
								formControlName="weightSlip" placeholder="weight_slip"
								name="weight_slip" class="form-control" id="weight_slip" ng-model="purchaseRegister.vehicleDetails.weightSlip">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="empty_weight">Empty Weight:</label> <input
								type="text" formControlName="emptyWeight"
								placeholder="empty_weight" name="empty_weight"
								class="form-control" id="empty_weight" ng-model="purchaseRegister.vehicleDetails.emptyWeight">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="load_weight">Load Weight:</label> <input type="text"
								formControlName="loadWeight" placeholder="load_weight"
								name="load_weight" class="form-control" id="load_weight" ng-model="purchaseRegister.vehicleDetails.loadWeight">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="tare_weight">Tare Weight:</label> <input type="text"
								formControlName="tareWeight" placeholder="tare_weight"
								name="tare_weight" class="form-control" id="tare_weight" ng-model="purchaseRegister.vehicleDetails.tareWeight">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-group"  formGroupName="purchaseAdjustments">
		<div class="panel panel-info">
			<div class="panel-heading">Adjustment Details</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="bags_cost">Bags Cost:</label> <input type="text"
								formControlName="bagsCost" placeholder="bags_cost"
								name="bags_cost" class="form-control" id="bags_cost" ng-model="purchaseRegister.purchaseAdjustments.bagsCost">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="weight_bridge_cost">Weight Bridge Cost:</label> <input
								type="text" formControlName="weightBridgeCost"
								placeholder="weight_bridge_cost" name="weight_bridge_cost"
								class="form-control" id="weight_bridge_cost" ng-model="purchaseRegister.purchaseAdjustments.weightBridgeCost">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="kulli">Kulli:</label> <input type="text"
								formControlName="kulli" placeholder="kulli" name="kulli"
								class="form-control" id="kulli" ng-model="purchaseRegister.purchaseAdjustments.kulli">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="misc_cost">Misc Cost:</label> <input type="text"
								formControlName="miscCost" placeholder="misc_cost"
								name="misc_cost" class="form-control" id="misc_cost" ng-model="purchaseRegister.purchaseAdjustments.miscCost">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="labour_cost">Labour Cost:</label> <input type="text"
								formControlName="labourCost" placeholder="labour_cost"
								name="labour_cost" class="form-control" id="labour_cost" ng-model="purchaseRegister.purchaseAdjustments.labourCost">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button class="btn btn-primary">Submit</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</form>
